.sidebar {
    background-color: #895bcd;
    /*    position: relative;*/
    position: fixed;
    top: 3.5rem;
    left: 0;
    border-right: 9px double white;
    height: 100%;
    z-index: 99;
}
    
.sidebar__item {
    min-height: 1.8rem;
}

.sidebar__item:hover {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 10px;
}

.sidebar__link {
    text-decoration: none;
    color: white;
}

.sidebar__nav-list {
    list-style-type: none;
    padding-left: 20px;
}

.sidebar__button {
    position: absolute;
    top: 40%;
    right: -15px;
    cursor: pointer;
    height: 30px;
}