@{
    ViewBag.Title = "Dashboard";
}

<div class="card-wrapper" >
    
    <vc:monthly-deficit></vc:monthly-deficit>
    <vc:monthly-paid></vc:monthly-paid>
    <vc:monthly-contributions></vc:monthly-contributions>
    <vc:monthly-loans></vc:monthly-loans>

</div>

<div class="card-wrapper">
    <vc:progress></vc:progress>

    <vc:monthly-unpaid-list></vc:monthly-unpaid-list>

</div>
