@{
    ViewBag.Title = "Dashboard";
}

<div class="cards" >
    
    <vc:monthly-deficit></vc:monthly-deficit>


    <vc:monthly-paid></vc:monthly-paid>


    <div class="card card_small">
        <vc:monthly-deficit-contribution></vc:monthly-deficit-contribution>
    </div>

    <div class="card card_small">
        test
    </div>

</div>

<div class="cards">
    <div class="card card_large">
        test
    </div>

</div>
