@{
    ViewData["Title"] = "Dashboard";
}



<div class="cards" >
    <div class="card card_small">
        test
    </div>
    <div class="card card_small">
        test
    </div>
    <div class="card card_small">
        test
    </div>
    <div class="card card_small">
        test
    </div>

</div>

<div class="cards">
    <div class="card card_large">
        test
    </div>

</div>
