<div class="card card_medium">

    <h2 class="card__title">Unsettled Accounts</h2>

    <ul class="item-wrapper item-wrapper_column">
        <li class="item">
            <span class="item__user">Winzyl Olvido</span>
            <span class="item__deficit">₱400</span>
        </li>

        <li class ="item">
            <span class="item__user">James Smith</span>
            <span class="item__deficit">₱300</span>
        </li>
    
        <li class="item">
            <span class="item__user">John Doe</span>
            <span class="item__deficit">₱200</span>
        </li>

        <li class="item">
            <span class="item__user">Mike Shinoda</span>
            <span class="item__deficit">₱100</span>
        </li>
    </ul>

</div>