.item {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 5px 8px 5px 8px;
    font-size: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

.item__user{

}

.item__deficit {
    color: #ff3a3a;
}
