
.main {
}

.main__content {
    position: relative;
    margin-left: 160px;
    flex-grow: 1;
}

.main_padding {
    padding-left: 20px;
    padding-right: 20px;
}

.main__wrapper {
    display: flex;
    flex-direction: row;
}

.main__sidebar-nav {
    width: 160px;
}