@model MonthlyLoansViewModel

<script src="~/common.blocks/card/card__loan-chart.js" defer></script>

<article class="card card_small">

    <h2 class="card__title">Loan Status for [Month Name]</h2>

    <section class="card__body">

        <section class="card__info-wrapper">

            <div class="card__value card__value_small card__paid card__paid_loan">Paid: ₱<strong>@Model.PaidLoans</strong> </div>

            <div class="card__value card__value_small card__deficit card__deficit_loan">Deficit: ₱<strong>@Model.UnPaidLoans</strong> </div>

            <section>
                <div class="card__info"> Paid Borrowers <strong class="card__paid">@Model.PaidBorrowers</strong> </div>
                <div class="card__info"> Unpaid Borrowers <strong class="card__deficit">@Model.UnPaidBorrowers</strong> </div>
            </section>

        </section>

        <div class="card__chart-container card__chart-container_small">
            <canvas class="card__loan-chart"></canvas>
        </div>

    </section>

</article>


