<div class="card card_large">
    <h2 class="card__title">Yearly Progress</h2>

    <section class="card__inner-card-container">
        <div class="card__inner-card">
            <h3 class="card__title card__title_inner">
                Previous Month
            </h3>

            <div class="card__value card__value_inner">₱1000</div>

        </div>
        <div class="card__inner-card">
            <h3 class="card__title card__title_inner">
                Current Month
            </h3>

            <div class="card__value card__value_inner">₱1000</div>

        </div>
        <div class="card__inner-card">
            <h3 class="card__title card__title_inner">
                Year Progress
            </h3>

            <div class="card__value card__value_inner">₱4500</div>

        </div>
    </section>

</div>