<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/bundle.css" />

    <script src="~/lib/jquery/dist/jquery.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.min.js" integrity="sha512-CQBWl4fJHWbryGE+Pc7UAxWMUMNMWzWxF4SQo9CgkJIN1kx6djDQZjh3Y8SZ1d+6I+1zze6Z7kHXO7q3UyZAWw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/common.blocks/main/main__sidebar.js" defer></script>
    @* <script src="~/bundle.js" defer></script> *@
</head>

<body class="body">

    <header class="header header_margin">
        <img class="header__logo" src="~/common.blocks/header/fruitfund-tracker-logo.png" />
        <div class="header__user">Welcome, Winzyl</div>
    </header>

    <div class="main main__wrapper">

        <aside class=" sidebar">
            <button class="sidebar__button">☰</button>
            <nav class="sidebar__nav main__sidebar-nav">
                <ul class="sidebar__nav-list">
                    <li class="sidebar__item">
                        <a class="sidebar__link" asp-controller="Home" asp-action="Index">Dashboard</a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__link">Contributions</a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__link">Loans</a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__link">Calendar</a>
                    </li>
                    <li class="sidebar__item">
                        <a class="sidebar__link">Members</a>
                    </ul>
            </nav>
        </aside>

        <main class="main__content main_padding">
            @RenderBody()
        </main>
    </div>

    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
