.header {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100
}

.header__logo {
    object-fit: scale-down;
/*    margin-top: 1vh;*/
    width: 15rem;
}

.header__user {
/*    margin-top: 1vh;*/
}


.header_margin {
    padding-left: 20px;
    padding-right: 20px;
}
